db/*.sqlite3*
log/*.log
tmp/**/*
doc/api
doc/app
.DS_Store
*.swp
*~
.DS_Store
*.rbc
*.sassc
*.log
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/.idea/*
/public/system/*
public/spree/*
/coverage/
/spec/tmp/*
/app/compiled_views
**.orig
rerun.txt
vendor/ruby
/vendor/cache/*
tmp/i18n-js.cache
Thumbs.db
dump.rdb
config/database.yml
*.tags
.tags*
# Ignore application configuration
#/config/database.yml
.tags_sorted_by_file
.tags
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/assets/
public/sitemap*
.ruby-version
rawler_log.txt